{
  "extends": "airbnb",
  "rules": {
    "func-names": [
      "error",
      "never"
    ],
    "no-param-reassign": 0,
    "import/no-dynamic-require": 0,
    "array-bracket-spacing": [
      "error",
      "always"
    ]
  }
}
