{
  "extends": "airbnb",
  "rules": {
    "func-names": [
      "error",
      "never"
    ],
    "no-param-reassign": 0,
    "import/no-dynamic-require": 0,
    "array-bracket-spacing": [
      "error",
      "always"
    ],
    "space-unary-ops": [
      "error",
      {
        "words": false,
        "nonwords": true
      }
    ]
  }
}
