// Font-Awesome needs the path changed to use with webpack
$icon-font-path: "~open-iconic/font/fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Color system
//$blue:    #007bff !default;
//$indigo:  #6610f2 !default;
//$purple:  #6f42c1 !default;
//$pink:    #e83e8c !default;
$red:     #dc3545 !default;
//$orange:  #fd7e14 !default;
//$yellow:  #ffc107 !default;
//$green:   #28a745 !default;
//$teal:    #20c997 !default;
//$cyan:    #17a2b8 !default;

$errorBackgroundColor   : $red;
$errorColor             : $red;
$errorBorderColor       : $red;
$errorTextColor         : $red;
